.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalStyles {
  background: var(--color-canvas);
  padding: var(--ye-spacing-rem-normal);
  border-radius: var(--ye-radius-normal);
  text-align: center;
  min-width: var(--ye-width-normal);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.buttonStyles {
  margin-top: var(--ye-spacing-rem-normal);
  padding: var(--ye-spacing-rem-xsmall) var(--ye-spacing-rem-small);
}
