.app {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.container {
  padding: 1rem;
}


.productSection {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 24px;
}

.purchaseSaleSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

