
.saleForm {
  display: flex;
  flex-direction: column;
  gap: var(--ye-spacing-rem-small);
  background: var(--color-canvas);
  padding: var(--ye-spacing-rem-small);
  border-radius: var(--ye-radius-normal);
  min-width: var(--ye-width-medium);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  margin: 0;
  font-size: var(--ye-font-size-large);
}

.addedItemsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--ye-spacing-rem-small);
  margin-top: var(--ye-spacing-rem-small);
}

.quantityContainer {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  align-items: center;
  justify-content: flex-end;
  gap: var(--ye-spacing-rem-xsmall);
  font-weight: var(--ye-font-weight-normal);
}

.itemQuantity {
  font-weight: var(--ye-font-weight-semibold);
}

.input {
  padding: var(--ye-spacing-rem-xsmall);
  border-radius: var(--ye-radius-normal);
  border: 1px solid var(--color-grey);
  width: var(--full-size);
}
  